.main-form{style: 'margin: 0px 0px 0px 0px; padding: 40px 0px 0px 0px;'}
  .row
    .large-12.columns
      %h2{style: 'font-weight: bold;'} Государственные льготы и субсидии
      %form{style: 'padding: 0px 0px 0px 0px;'}
        .row
          .large-8.columns{style: 'margin-top: 20px;'}
            %label{style: 'font-size: 18px'} я имею статус
            .row{style: 'margin-top: 25px;'}
              .large-10.columns
                %input{type: "text"}
              .large-2.columns
                %div{style: 'padding-top: 7px;'}
                  %a{href: '', style: 'text-decoration: underline;'} весь список
            %ul.inline-list{style: 'font-size: 19px; line-height: 2em;'}
              - @profiles.each do |profile|
                = render profile
            %p Мне интересны льготы и субсидии в Киеве
            .button Найти