.main-form{style: 'margin: 0px 0px 0px 0px; padding: 40px 0px 0px 0px;'}
  .row
    .large-12.columns
      %h2{style: 'font-weight: bold;'} Государственные льготы и субсидии
      %form{style: 'padding: 0px 0px 0px 0px;'}
        .row
          .large-8.columns{style: 'margin-top: 20px;'}
            %h4{} я имею статус
            %ul.inline-list{style: 'font-size: 19px; line-height: 2em;'}
              - @profiles.each do |profile|
                = render profile

  .row
    .large-5.columns{style: 'margin: 20px 0px;'}
      %h4 я не знаю свой статус
      %form{style: 'margin: 20px 0; padding: 10px 15px; background-color: #eeeeee;'}
        %label Площадь жилья, кв.м
        %input{type: 'text'}
        .button Найти