.row
  .large12.columns
    %h2 Государственная помощь
    %p Список государственных помощей. Дргуая полезная информация
.row
  .large12.columns{style: 'margin: 18px 0px;'}
    = link_to 'Создать помощь', new_benefit_path, class: 'button'

.benefits
  .row
    .large12.columns{style: 'margin: 18px 0px;'}
      %ul{style: 'list-style: none; margin: 0 0;'}
        %li
          %h3 Афганець учасник бойових дій
        %li
          %h3 Одинока мати
        %li
          %h3 Инвалід 2-й категорії
        %li
          %h3 Инвалід 1-й категорії