.row
  .large-12.columns{style: 'padding: 19px 0px 0px 0px;'}
    %h2 Социальная помощь
    %p Список социальных помощей
.row
  .large-12.columns{style: 'margin: 18px 0px; background-color: #eeeeee; padding-top: 18px;'}
    = link_to 'Создать помощь', new_benefit_path, class: 'button'

.benefits
  .row
    .large-12.columns{style: 'margin: 18px 0px;'}
      %dl.sub-nav
        %dd.active
          %a{href: '#'} Все
        %dd
          %a{href: '#'} Компенсация
        %dd
          %a{href: '#'} Льготы
        %dd
          %a{href: '#'} Скидка
        %dd
          %a{href: '#'} Социальная помощь
        %dd
          %a{href: '#'} Субсидия

      %ul.small-block-grid-3{style: 'list-style: none; margin: 0 0;'}
        %li
          = link_to '/benefits/1' do
            %div
              %span скидка
            %h4 Плата   за  користування  житлом (квартирна плата)
            %h3 75%
        %li
          %div
            %span скидка
          %h4 Плата   за  користування комунальними послугами
          %h3 75%
        %li
          %div
            %span скидка
          %h4 Вартость палива
          %h3 75%