.row
  .large12.columns
    %div{style: 'padding: 16px 0px;'}
      = link_to "&larr; вернуться к списку помощей".html_safe, profiles_path
    %h2 Создание новой помощи
    %p создайте новую помощь заполнив необходимые поля