.benefit
  .row
    .large-12.columns
      %div{style: 'padding: 16px 0px;'}
        = link_to "&larr; вернуться к списку помощей".html_safe, benefits_path
      .large-7.columns
        %h1 Плата   за  користування  житлом (квартирна плата)
        %p Знижка надається в межах норм, передбачених чинним законодавством (21 кв.  метр загальної площі житла на кожну особу,  яка  постійно проживає  у  житловому  приміщенні (будинку)  та додатково  10,5 кв. метра на сім'ю)
        %p Якщо Ваша сім’я складається лише з непрацездатних осіб, то у Вас є право на 75-процентну знижку за користування газом для опалювання житла  на   подвійний   розмір   нормативної   опалювальної  площі, тобто 42  кв.  метри  на  кожну особу,  яка має право  на знижку плати, та  21  кв.  метр на сім'ю.
      .large-5.columns
        %h3 dsfsdfds