.benefit
  .row
    .large-12.columns
      %div{style: 'padding: 16px 0px;'}
        = link_to "&larr; вернуться к списку помощей".html_safe, benefits_path
      .large-7.columns
        %p= @benefit.benefit_category.title
        %h2= @benefit.title
        %p= @benefit.description
      .large-5.columns
        %h3 Категории граждан
        - @benefit.profiles.each do |profile|
          %ul
            %li
              =link_to profile.title, profile_path(profile)