.row
  .large-12.columns{style: 'padding: 19px 0px 0px 0px;'}
    %h2 Категории граждан
    %p Список категорий граждан, получателей социальной помощи
.row
  .large-12.columns{style: 'margin: 18px 0px; background-color: #eeeeee; padding-top: 18px;'}
    = link_to 'Создать категорию', new_profile_path, class: 'button'

.profiles
  .row
    .large12.columns{style: 'margin: 18px 0px;'}
      %ul{style: 'list-style: none; margin: 0 0;'}
        - @profiles.each do |profile|
          = render 'profile_index', profile: profile