.new-profile
  .row
    .large-12.columns
      %div{style: 'padding: 16px 0px;'}
        = link_to "&larr; вернуться к списку профилей".html_safe, profiles_path
      %h3 Создание нового профиля
      %p создайте новый профиль заполнив необходимые поля
      .row
        .large-8.columns
          = simple_form_for @profile do |f|
            %label Название
            = f.text_field :title
            = f.button :submit, 'Создать'