%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        =link_to 'Social Good Service', root_path
  %section.top-bar-section
    %ul.left
      %li
        %a{href: "#"} Профили
      %li
        %a{href: "#"} Помощь

%header
  .row
    .large12.columns{style: 'display: flex; -webkit-align-items: center;'}
      %div{style: 'margin-right: 10px;'}
        = link_to root_path do
          = image_tag 'logotype.jpg', width: '100px'
      %div{style: ''}
        %h2 Social Good Services
        %h3 Мы делаем помощь доступнее
      %div{style: '-webkit-flex: 1'}
      %div
        %span
          = link_to 'Простой принцип работы', how_this_works_path