// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles {
  li {
    margin: 25px 0;
  }
}

.new-profile {
  form {
    margin-top: 16px;
    background-color: #eeeeee;
    padding: 15px 20px;

    .button {
      margin-top: 10px;
    }
  }
}